<div class="index wrapper">

	<h1>Welcome</h1>
	<hr>

	<div class="text">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing
		elit. Proin elit ex, imperdiet eget lorem rutrum, vestib-
		ulum congue purus. Ut tincidunt congue sollicitudin.
		Nulla facilisi. Nulla porta et dolor sit amet mattis. Ali-
		quam commodo pulvinar laoreet. Maecenas tempor
		mauris diam, non semper leo ultrices sit amet. Morbi
	 </p>
	</div>

	<div>
		<h5>LOGIN TO START THE TEST <br>& ACCESS RESULTS</h5>
		<div class="social">
			<img  ng-src={{images.fb}} ng-click="authenticate('facebook')" class="social-item" width="40px">
			<img  ng-src={{images.in}} ng-click="authenticate('linkedin')" class="social-item" width="40px">
			<img  ng-src={{images.mail}} ng-click="clickToOpen('signin')" class="social-item" width="40px">
		</div>
	</div>

	</div>
