<div class="index wrapper">

	<h1>Welcome</h1>
	<hr>

	<div class="text">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing
		elit. Proin elit ex, imperdiet eget lorem rutrum, vestib-
		ulum congue purus. Ut tincidunt congue sollicitudin.
		Nulla facilisi. Nulla porta et dolor sit amet mattis. Ali-
		quam commodo pulvinar laoreet. Maecenas tempor
		mauris diam, non semper leo ultrices sit amet. Morbi
	 </p>
	</div>

	<div>
		<h5>LOGIN TO START THE TEST <br>& ACCESS RESULTS</h5>
		<div class="social">
			<img  ng-src={{images.fb}} ng-click="authenticate('facebook')" class="social-item" width="40px">
			<img  ng-src={{images.in}} ng-click="authenticate('linkedin')" class="social-item" width="40px">
			<img  ng-src={{images.mail}} class="social-item" width="40px" data-toggle="modal" data-target="#loginContainer">
		</div>
	</div>

	</div>


<!------------------- MODAL ------------------->
	<div id="loginContainer" class="modal fade" role="dialog">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close form-close" data-dismiss="modal">&times;</button>
	                <div class="modal-title"></div>
	            </div>
	            <div class="modal-body">
	                <div class="form-group">
	                    <label for="email">Email:</label>
	                    <input type="text" class="border form-control" id="email" placeholder="address@example.com">
	                </div>
	                <div class="form-group">
	                    <label for="password">Password:</label>
	                    <input type="text" class="border form-control" id="password">
	                </div>
	                <div id="btnsContainer" align="center">
	                    <button type="button" class="login border" data-dismiss="modal">Log in</button>
	                    <h4>or</h4>
	                    <button type="button" class="signin border" data-dismiss="modal" data-toggle="modal" data-target="#signinContainer" id="signinBtn">Sign in</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div id="signinContainer" class="modal fade" role="dialog" style="align-content:col-centeredcenter">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <div class="modal-title"></div>
	            </div>
	            <div class="modal-body">
	                <div class="form-group">
	                    <label for="fname">First name:</label>
	                    <input type="text" class="border form-control" id="fname" placeholder="Jack">
	                </div>
	                <div class="form-group">
	                    <label for="lname">Last name:</label>
	                    <input type="text" class="border form-control" id="lname" placeholder="Johnson">
	                </div>
	                <div class="form-group">
	                    <label for="email">Email:</label>
	                    <input type="text" class="border form-control" id="email" placeholder="j.johnson@example.com">
	                </div>
	                <div class="form-group">
	                    <label for="password">Password:</label>
	                    <input type="text" class="border form-control" id="password">
	                </div>
	                <div class="form-group">
	                    <label for="conpassword">Confirm password:</label>
	                    <input type="text" class="border form-control" id="conpassword">
	                </div>
	                <div align="center">
	                    <button type="button" class="signin border" data-dismiss="modal">Sign in</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
