<div class="index wrapper">

	<div ng-include="'welcome.html'"></div>

	<div>
		<h5>LOGIN TO START THE TEST <br>& ACCESS RESULTS</h5>
		<div class="social">
			<img ng-src={{iconfb}} ng-init="iconfb=images.fb" ng-mouseover="iconfb=images.fb_hov" ng-mouseout="iconfb=images.fb" ng-click="authenticate('facebook')" class="social-item" width="40px">
			<img ng-src={{iconin}} ng-init="iconin=images.in" ng-mouseover="iconin=images.in_hov" ng-mouseout="iconin=images.in" ng-click="authenticate('linkedin')" class="social-item" width="40px">
			<img ng-src={{iconml}} ng-init="iconml=images.mail" ng-mouseover="iconml=images.mail_hov" ng-mouseout="iconml=images.mail" class="social-item" width="40px" data-toggle="modal" data-target="#loginContainer">
		</div>
	</div>
</div>

<!------------------- MODAL ------------------->
<div id="loginContainer" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close form-close" data-dismiss="modal">&times;</button>
				<div class="modal-title"></div>
			</div>
			<div class="modal-body">
				<form name="loginForm" novalidate>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" class="border form-control" ng-model="logEmail" name="logEmail" data-toggle="tooltip" title="Only a-z, 0-9,.,_" placeholder="address@example.com" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,10})$/" required>

						<span style="color:red" ng-show="loginForm.logEmail.$dirty && loginForm.logEmail.$invalid">
						  <span ng-show="loginForm.logEmail.$error.required">Email is required.</span>
							<span ng-show="loginForm.logEmail.$error">Invalid email address.</span>
							</span>

					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="border form-control" ng-model="logPassword" name="logPassword" data-toggle="tooltip" title="Min-length:6, max-length:16" ng-minlength="6" ng-maxlength="16" required>

						<span style="color:red" ng-show="loginForm.logPassword.$dirty && loginForm.logPassword.$invalid">
							<span ng-show="loginForm.logPassword.$error.required">Password is required.</span>
							<span ng-show="loginForm.logPassword.$error">Invalid password.</span>
							</span>

					</div>
				</form>
				<div id="btnsContainer" align="center">
					<button type="button" class="login border" data-dismiss="modal" ng-click="closeModal(); clickToOpen('/start')" ng-disabled="loginForm.logEmail.$invalid || loginForm.logPassword.$invalid">Log in</button>
					<h4>or</h4>
					<button type="button" class="signin border" data-dismiss="modal" data-toggle="modal" data-target="#signinContainer" id="signinBtn">Sign in</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="signinContainer" class="modal fade" role="dialog" style="align-content:col-centeredcenter">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="modal-title"></div>
			</div>
			<div class="modal-body">
				<form name="signinForm">
					<div class="form-group">
						<label for="fname">First name:</label>
						<input type="text" class="border form-control" ng-model="signFName" name="signFName" placeholder="Jack">

						<span style="color:red" ng-show="signinForm.signFName.$dirty && signinForm.signFName.$invalid">
							<span ng-show="signinForm.signFName.$error.required">First name is required.</span>
							<span ng-show="signinForm.signFName.$error">Invalid first name address.</span>
							</span>

					</div>
					<div class="form-group">
						<label for="lname">Last name:</label>
						<input type="text" class="border form-control" ng-model="signLName" name="signLName" placeholder="Johnson">

						<span style="color:red" ng-show="signinForm.signLName.$dirty && signinForm.signLName.$invalid">
							<span ng-show="signinForm.signLName.$error.required">Last name is required.</span>
							<span ng-show="signinForm.signLName.$error">Invalid last name address.</span>
							</span>

					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" class="border form-control" ng-model="signEmail" name="signEmail" placeholder="j.johnson@example.com">

						<span style="color:red" ng-show="signinForm.signEmail.$dirty && signinForm.signEmail.$invalid">
							<span ng-show="signinForm.signEmail.$error.required">Email is required.</span>
							<span ng-show="signinForm.signEmail.$error">Invalid email address.</span>
							</span>

					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="border form-control" ng-model="signPassword" name="signPassword">

						<span style="color:red" ng-show="signinForm.signPassword.$dirty && signinForm.signPassword.$invalid">
							<span ng-show="signinForm.signPassword.$error.required">Password is required.</span>
							<span ng-show="signinForm.signPassword.$error">Invalid password.</span>
							</span>

					</div>
					<div class="form-group">
						<label for="conpassword">Confirm password:</label>
						<input type="password" class="border form-control" ng-model="conpassword" name="conpassword">

						<span style="color:red" ng-show="signinForm.conpassword.$dirty && signinForm.conpassword.$invalid">
							<span ng-show="signinForm.conpassword.$error.required">Password is required.</span>
							<span ng-show="signinForm.conpassword.$error">Invalid password.</span>
							</span>

					</div>
				</form>
				<div align="center">
					<button type="button" class="signin border" data-dismiss="modal">Sign in</button>
				</div>
			</div>
		</div>
	</div>
</div>
