<div id="signupContainer" class="modal fade" role="dialog" style="align-content:col-centeredcenter">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<button type="button" class="close backArr" data-dismiss="modal" data-toggle="modal" data-target="#signinContainer">&larr;</button>
				<div class="modal-title"></div>
			</div>

			<div class="modal-body">

				<form name="registrationForm" role="form" ng-init="registrationForm = {}" novalidate>

					<div class="form-group">
						<label for="signupFName">First name:</label>
						<input type="text" class="border form-control" ng-model="registrationForm.fName" name="signupFName" data-toggle="tooltip" title="Only latin and cyrillic letters, - ,'" placeholder="Jack" ng-pattern="/^[A-ZА-ЯЄІЇҐ][a-zа-яєіїґ]*'?[a-zа-яєіїґ]+(-[A-ZА-ЯЄІЇҐ][a-zа-яєіїґ]*'?[a-zа-яєіїґ]+)?$/" required>

						<span style="color:red" ng-show="registrationForm.signupFName.$dirty && registrationForm.signupFName.$invalid">
							<span ng-show="registrationForm.signupFName.$error.required">First name is required.</span>
						<span ng-show="registrationForm.signupFName.$error">Invalid first name.</span>
						</span>

					</div>
					<div class="form-group">
						<label for="signupLName">Last name:</label>

						<input type="text" class="border form-control" ng-model="registrationForm.lName" name="signupLName" data-toggle="tooltip" title="Only latin and cyrillic letters, - ,'" placeholder="Johnson" ng-pattern="/^[A-ZА-ЯЄІЇҐ][a-zа-яєіїґ]*'?[a-zа-яєіїґ]+(-[A-ZА-ЯЄІЇҐ][a-zа-яєіїґ]*'?[a-zа-яєіїґ]+)?$/" required>

						<span style="color:red" ng-show="registrationForm.signupLName.$dirty && registrationForm.signupLName.$invalid">
							<span ng-show="registrationForm.signupLName.$error.required">Last name is required.</span>
						<span ng-show="registrationForm.signupLName.$error">Invalid last name.</span>
						</span>
					</div>

					<div class="form-group">
						<label for="signupEmail">Email:</label>
						<input type="email" overwrite-email class="border form-control" ng-model="registrationForm.email" name="signupEmail" data-toggle="tooltip" title="Only a-z, 0-9, ., _" placeholder="j.johnson@example.com" required>

						<span style="color:red" ng-show="registrationForm.signupEmail.$dirty && registrationForm.signupEmail.$invalid">
            <span ng-show="registrationForm.signupEmail.$error.required">Email is required.</span>
						<span ng-show="registrationForm.signupEmail.$error">Invalid email address.</span>
						</span>

					</div>
					<div class="form-group">
						<label for="signupPassword">Password:</label>
						<input type="password" overwrite-password class="border form-control" ng-model="registrationForm.password" name="signupPassword" data-toggle="tooltip" title="Min-length:6, max-length:16" ng-minlength="6" ng-maxlength="16" required>

						<span style="color:red" ng-show="registrationForm.signupPassword.$dirty && registrationForm.signupPassword.$invalid">
            <span ng-show="registrationForm.signupPassword.$error.required">Password is required.</span>
						<span ng-show="registrationForm.signupPassword.$error">Invalid password.</span>
						</span>
					</div>

					<div class="form-group">
						<label for="signupConPassword">Confirm password:</label>
						<input type="password" name="signupConPassword" overwrite-password class="border form-control" ng-model="registrationForm.password_confirmation" data-toggle="tooltip" title="Min-length:6, max-length:16" ng-minlength="6" ng-maxlength="16" required>

						<span style="color:red" ng-show="(registrationForm.signupConPassword.$dirty && registrationForm.signupConPassword.$invalid) || (registrationForm.password != registrationForm.password_confirmation && registrationForm.signupConPassword.$dirty)">
            <span ng-show="registrationForm.signupConPassword.$error.required">Password is required.</span>
						<span ng-show="registrationForm.signupConPassword.$error">Invalid password.</span>
						<span ng-show="(registrationForm.password != registrationForm.password_confirmation) && registrationForm.signupConPassword.$dirty">Passwords don't match.</span>
						</span>
					</div>
					<div align="center">
						<button ng-click="signup(registrationForm)" class="signup border" ng-disabled="registrationForm.signupFName.$invalid || registrationForm.signupLName.$invalid || registrationForm.signupEmail.$invalid || registrationForm.signupPassword.$invalid || registrationForm.signupConPassword.$invalid || (registrationForm.password != registrationForm.password_confirmation)">Sign up</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<!-- <section style="margin-top:20px">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{active:isSelected(1)}"> <a href ng-click="selectTab(1)">Log in</a> </li>
    <li role="presentation" ng-class="{active:isSelected(2)}"> <a href ng-click="selectTab(2)">Create account</a> </li>
  </ul>
</section>
<div class="panel" ng-show="isSelected(1)">
  <form name="signinForm" ng-submit="signinForm.$valid && authSignin()" novalidate>
    <div class="form-group form-group-lg" style="margin-top:20px">
      <input type="email" class="form-control" placeholder="Email" ng-model="signInData.email" ng-change="clearErrorMessage()" required/>
    </div>
    <div class="form-group form-group-lg">
      <input type="password" class="form-control" placeholder="Password" ng-model="signInData.password" ng-change="clearErrorMessage()" required/>
    </div>
    <div class="warningMessage">
      {{errorMessage}}
    </div>
    <div class="form-group form-group-lg">
      <button type="submit" class="btn btn-warning btn-lg btn-block" ng-disabled="signinForm.$invalid">Sign in</button>
    </div>
  </form>
</div>
<div class="panel" ng-show="isSelected(2)">
  <form name="signupForm" ng-submit="processForm()" novalidate>
    <div class="form-group form-group-md" style="margin-top:10px">
      <input type="text" class="form-control" placeholder="Name" ng-model="formData.name" required/>
    </div>
    <div class="form-group form-group-md">
      <input type="text" name='surname' class="form-control" placeholder="Surname" ng-model="formData.surname" required/>
    </div>
    <div class="form-group form-group-md">
      <input type="email" class="form-control" placeholder="Email" ng-model="formData.email" required/>
    </div>
    <div class="form-group form-group-md">
      <input type="password"
             name="password"
             class="form-control"
             placeholder="Password, alphanumeric with minimum 6 characters"
             ng-model="formData.password"
             ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,}$/"
             required/>
    </div>
    <div class="form-group form-group-md">
      <input
      type="password"
      name="confirmPassword"
      placeholder="Confirm password"
      ng-model="formData.password_confirmation"
      ng-class="comparePasswords() ? 'form-control':'form-control redborder'"
      required/>
    </div>
    <div class="form-group form-group-md">
      <button
      type="submit"
      class="btn btn-warning btn-lg btn-block"
      ng-disabled="!isFormValid()">Sign me up!</button>
    </div>
    <span ng-show="false" >{{ formValidation.valid = signupForm.$valid }}</span>
  </form>
</div> -->
