<div id="signinContainer" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form name="signinForm" ng-init="signinForm = {}" role="form" novalidate>

					<div class="form-group">
						<label for="signinEmail">Email:</label>
						<input type="text" class="border form-control" ng-model="signinForm.email" name="signinEmail" placeholder="address@example.com" autofocus>
					</div>

					<div class="form-group">
						<label for="signinPassword">Password:</label>
						<input type="password" class="border form-control" ng-model="signinForm.password" name="signinPassword">
					</div>

					<div id="btnsContainer" align="center">
						<button type="submit" class="signin border" ng-click="signin(signinForm)">Sign in</button>
						<h4>or</h4>
						<button type="button" class="signup border" data-dismiss="modal" data-toggle="modal" data-target="#signupContainer" id="signupBtn">Sign up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>




<!-- <form name="signinForm" ng-submit="signinForm.$valid && authenticate('facebook')" novalidate>
  <div class="form-group form-group-lg" style="margin-top:20px">
    <input type="email" class="form-control" placeholder="Email" ng-model="signInData.email" ng-change="clearErrorMessage()" required/>
  </div>
  <div class="form-group form-group-lg">
    <input type="password" class="form-control" placeholder="Password" ng-model="signInData.password" ng-change="clearErrorMessage()" required/>
  </div>
  <div class="warningMessage">
    {{errorMessage}}
  </div>
  <div class="form-group form-group-lg">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
  </div>
</form> -->
