@media (max-width: 600px) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 1.2em;
    }
}
@media (min-width: 600px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 1.8em;
    }
}
body {
    color: #040503 !important;
}

/*****************INDEX.html*****************/

.wrapper {
    position: relative;
    margin: 0 auto;
    padding: 100px 150px;
    width: 700px;
}
h1 {
    font-size: 60px !important;
    font-weight: 900 !important;
    text-align: center;
    text-transform: uppercase;
}

h2 {
  font-size: 35px !important;
  font-weight: 900 !important;
  text-align: center;
  text-transform: uppercase;
}

hr {
    width: 85%;
    border-top: 10px solid #f7cc17 !important;
}
.text {
    padding: 0 40px;
    text-align: justify;
    line-height: 1.6em;
}
h5 {
    margin: 25px 0 !important;
    font-weight: 900 !important;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4em !important;
}
.social {
    width: 50%;
    margin: 0 auto;
}
.social-item {
    margin-right: 18%;
    cursor: pointer;
}
.social-last-child {
    margin-right: 0 !important;
}
.modal-header {
    padding-bottom: 5px !important;
    border-bottom: none !important;
}
.modal-body {
    padding-top: 0 !important;
}
.border {
    background-color: #fff !important;
    border: 4px solid #f7cc17 !important;
    border-radius: 0 !important;
}
.signin {
    width: 75px;
    color: #040503;
    font-weight: bold;
}
.signin:hover {
    color: #040503;
    background-color: #f7cc17 !important;
}
.signin[disabled] {
    border: 4px solid #c7bf9d !important;
    background-color: #c7bf9d !important;
}
.signin[disabled]:hover {
    color: #040503 !important;
    border: 4px solid #c7bf9d !important;
    background-color: #c7bf9d !important;
}
.signup {
    width: 75px;
    color: #fff;
    font-weight: bold;
    background-color: #f7cc17 !important;
}
.signup:hover {
    color: #f7cc17 !important;
    background-color: #fff !important;
}
.signup[disabled] {
    border: 4px solid #c7bf9d !important;
    background-color: #c7bf9d !important;
}
.signup[disabled]:hover {
    color: #fff !important;
    border: 4px solid #c7bf9d !important;
    background-color: #c7bf9d !important;
}
input.ng-invalid.ng-dirty {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 9, 0, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 9, 0, 1);
    box-shadow: 0px 0px 8px 0px rgba(255, 9, 0, 1);
}

/*input.ng-valid {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(13,112,4,1);
     -moz-box-shadow: 0px 0px 8px 0px rgba(13,112,4,1);
          box-shadow: 0px 0px 8px 0px rgba(13,112,4,1);
}*/

.close {
    outline: none !important;
}
.close.backArr {
    outline: none !important;
    float: left;
    font-size: 25px;
    font-weight: 900;
}

/*****************START.html*****************/

.logout {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    font-size: 18px;
    color: #f7cc17;
    background-color: #fff;
    border: 2px solid #f7cc17;
    border-top: none;
}
.logout:hover {
    color: #fff;
    background-color: #f7cc17;
    border: 2px solid #f7cc17;
    border-top: none;
}
.start {
    text-decoration: none;
    text-align: center;
    margin: 40px auto;
    display: block;
    width: 150px;
    height: 54px;
    color: #040503;
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    border: 7px solid #f7cc17;
}
.start:hover {
    text-decoration: none !important;
    background-color: #f7cc17 !important;
    color: #fff !important;
}

/*****************RESULTS.html*****************/
.results.wrapper{
    padding: 50px 0 0 0;
}
.left-panel, .right-panel{
    padding: 100px 50px 10px !important;
}
.title {
    font-size: 30px !important;
    font-weight: 900 !important;
}
.undertitle {
    font-size: 20px !important;
    font-weight: 200 !important;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 50px;
}
.score {
    background-color: #fff !important;
    border: 4px solid #f7cc17 !important;
    border-radius: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
}
.plussign {
    color: #f7cc17;
    font-weight: 900 !important;
}
.right-panel {
    background-color: #FBFCF5;
}

ol{
   counter-reset: myCounter;
   padding-left: 0;
}
li{
   list-style: none;
}
li:before{
   counter-increment: myCounter;
   content:counter(myCounter);
   display: inline-block;
   margin-right: 10px;
   margin-bottom: 6px;
   color: #000;
   text-align: center;
   line-height: 27px;
   width: 35px;
   height: 35px;
   border: 4px solid #f7cc17;
}

.results-ol li{
  font-size: 20px !important;
  font-weight: 900 !important;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.friends-invitation{
  margin-bottom: 20px;
}
input[type=email], input[type=submit]{
  height: 35px;
}
input[type=email]{
  float: left;
  width: 250px;
  margin-right: -28px;
}
.last-child{
  margin-bottom: 0 !important;
}
input[type=submit]{

}

.footer {
    margin: 50px 0 15px;
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #C5C5C4;
}

/*****************TEST.html*****************/
.test.wrapper{
  padding: 100px 50px;
}
.grey-color{
  color: #BFBFBE;
}
.next{
  background-color: #fff !important;
  font-size: 18px;
  font-weight: bold;
  color: #BFBFBE;
  text-transform: uppercase;
  border: none;
}
.next-wrapper{
  width: 62px;
  margin: 0 auto;
}

.pages{
  position: absolute;
  bottom: 0;
  left: 47.5%;
}
