<div class="container vertical-align:middle">
		<div class="row">
			<div class="col-md-12 text-uppercase text-center">
				<h1>Welcome</h1>
				<hr width=55%>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-justify">
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-uppercase text-center margin-top:50px">
				<h2>Login to start the test <br/>& access results</h2>
			</div>
		</div>

		<div style="width:270px; margin:0 auto;">
			<img  ng-src={{images.fb}} ng-click="clickToOpen('login')" style="margin-right: 30px">
			<img  ng-src={{images.in}} style="margin-right: 30px">
			<img  ng-src={{images.mail}} ng-click="clickToOpen('signin')" style="margin-right: 30px">
		</div>

	</div>
