<form name="signinForm" ng-submit="signinForm.$valid && authenticate('facebook')" novalidate>
  <div class="form-group form-group-lg" style="margin-top:20px">
    <input type="email" class="form-control" placeholder="Email" ng-model="signInData.email" ng-change="clearErrorMessage()" required/>
  </div>
  <div class="form-group form-group-lg">
    <input type="password" class="form-control" placeholder="Password" ng-model="signInData.password" ng-change="clearErrorMessage()" required/>
  </div>
  <div class="warningMessage">
    {{errorMessage}}
  </div>
  <div class="form-group form-group-lg">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
  </div>
</form>
