<div class="wrapper">

  <div class="row" style="height:200px; margin-top: 50px">
    <div class="col-md-12 text-center">
    <strong style="font-size:3.5em">{{question}}</strong>
    </div>
  </div>

  <div class="row">
    <!-- Value: <input type="number" style="margin-bottom: 20px" ng-model="minSlider.value"/> -->
    <rzslider rz-slider-model="minSlider.value"></rzslider>
  </div>

  <div class="row" style="margin-top: 40px">
    <div class="col-xs-6 text-left" style="padding-left: 0px">
      Strongly Disagree
    </div>
    <div class="col-xs-6 text-right" style="padding-right: 0px">
      Strongly Agree
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <br><br>
      <button type="button" class="btn btn-default btn-lg" ng-click="nextQuestion()">Next</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <br><br>
      <h4>{{count+1}}/{{array.length}}</h4>
    </div>
  </div>

</div>
