<div class="wrapper" ng-show="resultsVisible">
  <br><br>
  <h3 class="text-center">Results</h3>
  <br><br>
  <div class="row" ng-repeat="item in resultsArray">
    <div class="col-md-12 text-center">
      <strong>{{item.question}} : {{item.value}}</strong>
    </div>
  </div>
  <br><br>
</div>

<div class="row" ng-show="!testVisible">
  <div class="col-md-12 text-center">
    <br><br>
    <button type="button" class="btn btn-default btn-lg" ng-click="startTest()">{{startButtonText}}</button>
  </div>
</div>

<div class="wrapper" ng-show="testVisible">

  <div class="row" style="height:200px; margin-top: 50px">
    <div class="col-md-12 text-center">
    <strong style="font-size:3.5em">{{question}}</strong>
    </div>
  </div>

  <div class="row">
    <rzslider rz-slider-model="minSlider.value"></rzslider>
  </div>

  <div class="row" style="margin-top: 40px">
    <div class="col-xs-6 text-left" style="padding-left: 0px">
      Strongly Disagree
    </div>
    <div class="col-xs-6 text-right" style="padding-right: 0px">
      Strongly Agree
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <br><br>
      <button type="button" class="btn btn-default btn-lg" ng-click="nextQuestion()">{{buttonText}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <br><br>
      <h4>{{count}}/{{array.length}}</h4>
    </div>
  </div>
</div>
