<!DOCTYPE html>
<html>
<head>
  <title>PersonalityTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="../app/assets/javascripts/angular-module.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app="personality_test">

<div ui-view></div>

</body>
</html>
